{% load static %}
<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Nouvil</title>

    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css"> -->
</head>
<link rel="stylesheet" href="{% static 'css/adminlte_ar.min.css' %}">
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body dir="rtl" class="hold-transition sidebar-mini">

    {% block content %}

    {% endblock content %}


    <!-- REQUIRED SCRIPTS -->
    <script src="{% static 'plugins/jquery_datepacker/jquery_ui.js' %}"></script>

    <!-- jQuery -->
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- AdminLTE -->
    <script src="{% static 'js/adminlte.js' %}"></script>
    <!-- OPTIONAL SCRIPTS -->

    <script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>

    <script src="{% static 'js/demo.js' %}"></script>
    <!--<script src="dist/js/pages/dashboard3.js'"></script>
-->
    <script>
        
        $(document).ready(function () {
            $('#myModal').on('shown.bs.modal', function () {
                $('#myInput').trigger('focus')
            });
            /*here i will make loop for get id category and status for contact with books */
            /*حساب اجمالي الارباح و هي عبارة عن حاصل جمع سعر الكتب عند البيع بالاضافة الى سعر استعارة الكتاب*/
        });
        
    </script>
    <script>
   let totalPrice = 0;
    let totalRent = 0;

$(document).ready(function() {
 
    $('.bookprice').each(function() {
        $(this).hide(); // Hides the element
        const price = parseInt($(this).text()); // Parse text to an integer
        if (!isNaN(price)) {
            totalPrice += price; // Add to totalPrice if it's a number
        }
    });

    $('.bookrent').each(function() {
        $(this).hide(); // Hides the element
        const rent = parseInt($(this).text()); // Parse text to an integer
        if (!isNaN(rent)) {
            totalRent += rent; // Add to totalRent if it's a number
        }
    });

    $('.bookperiod').each(function() {
        $(this).hide(); // Hides the element
    });

   total=totalPrice + totalRent
    $('#totalsalarys').text( $('#totalsalarys').text()+total); // Display combined total
});


        $(function () {
            'use strict'

            var ticksStyle = {
                fontColor: '#495057',
                fontStyle: 'bold'
            }

            var mode = 'index'
            var intersect = true

            var $salesChart = $('#sales-chart')

            var salesChart = new Chart($salesChart, {

                type: 'bar',

                data: {

                    labels: [


                        'تفاصيل الارباح',

                    ],


                    datasets: [
                        {
                            backgroundColor: '#007bff',
                            borderColor: '#007bff',
                            data: [
                                totalPrice,
                            ]
                        },
                        {
                            backgroundColor: '#ced4da',
                            borderColor: '#ced4da',
                            data: [
                                totalRent,
                            ]
                        }
                    ]
                },



                options: {
                    maintainAspectRatio: false,
                    tooltips: {
                        mode: mode,
                        intersect: intersect
                    },
                    hover: {
                        mode: mode,
                        intersect: intersect
                    },
                    legend: {
                        display: false
                    },
                    scales: {
                        yAxes: [{
                            // display: false,
                            gridLines: {
                                display: true,
                                lineWidth: '4px',
                                color: 'rgba(0, 0, 0, .2)',
                                zeroLineColor: 'transparent'
                            },
                            ticks: $.extend({
                                beginAtZero: true,

                                // Include a dollar sign in the ticks
                                callback: function (value, index, values) {
                                    if (value >= 1000) {
                                        value /= 1000
                                        value += 'k'
                                    }
                                    return '$' + value
                                }
                            }, ticksStyle)
                        }],
                        xAxes: [{
                            display: true,
                            gridLines: {
                                display: false
                            },
                            ticks: ticksStyle
                        }]
                    }
                }
            });

            var pieChart = document.getElementById('visitors-chart').getContext('2d')

            var myPieChart = new Chart(pieChart, {
                type: 'pie',
                data: {
                    datasets: [{
                        data: ['{{avaliableBooks}}', '{{soldBooks}}', '{{rentalBooks}}'],
                        backgroundColor: ["#27c100", "#f3545d", "#fdaf4b"],
                        borderWidth: 10,

                    }],
                    labels: ['Available', 'Sold', 'Rented']
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        position: 'bottom',
                        labels: {
                            fontColor: '#000',
                            fontSize: 15,
                            usePointStyle: true,
                            padding: 30
                        }
                    },
                    pieceLabel: {
                        render: 'percentage',
                        fontColor: 'white',
                        fontSize: 14,
                    },


                }
            })

        })
 {% for category in categories %}
        $('.cat{{ category.id }}').click(function () {
            $('.hide').hide();
            $('.book{{ category.id }}').show(); 
        });
    {% endfor %}

    $('.avaliable').click(function(){
        $('.hide').hide()
        $('.statusavaliable').show()
    })
     $('.sold').click(function(){
        $('.hide').hide()
        $('.statussold').show()
    })
     $('.rental').click(function(){
        $('.hide').hide()
        $('.statusrental').show()
    })


 </script>

</body>

</html>