{% extends 'base.html'%}

<!-- في المكان ده هحط الناف بار -->
{% block content %}

<!-- Main Sidebar Container -->
{% include 'navBar.html' %}
{% include 'aside.html' %} 

<!-- Main Sidebar Container -->
{% include 'aside.html' %}




<div style="direction: rtl;" class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper p-5">
    <!-- Content Header (Page header) -->

    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>الكتب</h1>
      </div>

    </div>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body pb-0">
          <div class="row d-flex align-items-stretch">
            <!-- بداية الكتاب -->
            {% for book in books %}
            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
              <div id="" class="card bg-light hide book{{book.category.id}} status{{book.status}}">
                <div class="card-header text-muted border-bottom-0">
                  {{book.category.name}}
                </div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-7">
                      <h2 class="lead"><b>{{book.title}}</b></h2>
                      <ul class="  fa-ul text-muted">
                        <li class="small"><span class="fa-li"></span>{{book.status}}</li>book{
                        <li class="small"><span class="fa-li"></span>{{book.price}}</li>
                      </ul>
                    </div>
                   <div class="col-5 text-center" style="height: 120px; width: 120px;">
    {% if book.book_photo %}
        <img style="height: 100%; width: 100%; object-fit: cover;" src="{{ book.book_photo.url }}" alt="" class="img-circle img-fluid">
    {% else %}
        <img style="height: 100%; width: 100%; display: none;" alt="">
    {% endif %}
        </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="text-right">
                    <a href="{% url 'deletePage' book.pk%}" class="btn btn-sm bg-danger">
                      <i class="fas fa-trash"></i>
                    </a>
                    <a href="{% url 'updatePage' book.pk %} " class="btn btn-sm btn-primary">
                      <i class="fas fa-book"></i> تعديل
                    </a>
                  </div>
                </div>
              </div>

            </div>
            {% endfor%}
          </div>
        </div>
        <!-- /.card-body -->

        <!-- /.card-footer -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</div>
<!-- /.content-wrapper -->
</div>




{% include 'footer.html' %}
</div>
<!-- ./wrapper -->
{% endblock content %}